<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.mbs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TicketStubActivity"></activity>
        <activity
            android:name=".presentation.TheatreActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.TrailerActivity" />
        <activity
            android:name=".presentation.MovieActivity"
            android:label="@string/title_activity_movie" />
        <activity android:name=".presentation.SeatingActivity" />
        <activity android:name=".presentation.TicketActivity" />
        <activity
            android:name=".presentation.MovieInfoActivity"
            android:label="@string/title_activity_movie_info" />
    </application>

</manifest>